.header-content{
    min-height: 40vh;
    background: linear-gradient(rgba(28, 15, 204, 0.3), rgba(0, 0, 0, 0.5));
    flex-direction: column;
    padding-top: 15vh;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}

